:host {
    position: relative;
    display: block;
    margin: -1px;
    padding: var(--padding-v) var(--padding-h);
    border: var(--border-width) solid var(--border-color-light);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host(:focus), :host([selected]) {
    padding-right: calc(2 * var(--padding-h) + .9 * var(--icon-size));
    background-size: calc(.85 * var(--icon-size));
    background-position: center right var(--padding-h);
    background-repeat: no-repeat;
}

:host(:focus) {
    background-color: var(--background-color);
    outline: none;
    background-image: url('./checkmark.svg');
}

:host([selected]) {
    background-image: url('./checkmark-selected.svg');
}
