:host {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-bottom: calc(-1 * var(--border-width));
    padding: var(--padding-v) var(--padding-h);
    border-bottom: var(--border-width) solid var(--border-color-light);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Highlighted State
 */
:host(:focus:not([disabled])), :host([selected]:not([disabled])) {
    padding-right: calc(2 * var(--padding-h) + .9 * var(--icon-size));
    background-size: calc(.85 * var(--icon-size));
    background-position: center right var(--padding-h);
    background-repeat: no-repeat;
}

/*
 * Selected State
 */
:host(:focus:not([disabled])) {
    background-color: var(--background-color);
    outline: none;
    background-image: url('./checkmark.svg');
}

:host([selected]:not([disabled])) {
    background-image: url('./checkmark-selected.svg');
}

/*
 * Disabled State
 */
 :host([disabled]) {
    color: #999;
 }
