:host {
	position: relative;
    display: block;
    margin: -1px;
    padding: var(--padding-v) var(--padding-h);
    border: 1px solid var(--border-color-light);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-option-icon {
	position: absolute;
	top: 50%;
	right: var(--padding-h);
	transform: translateY(-50%);

	display: none;
	width: calc(.9 * var(--icon-size));
	height: calc(.9 * var(--icon-size));
}

/*
 * Highlighted State
 */

:host(:focus), :host([selected]) {
    padding-right: calc(2 * var(--padding-h) + .9 * var(--icon-size));
}

:host(:focus) {
    background-color: var(--background-color);
    outline: none;
}

:host(:focus) > .select-option-icon {
	display: block;
	fill: #999;
}

/*
 * Selected State
 */
:host([selected]) {
	display: block;
	fill: #000;
}

:host([selected]) > .select-option-icon {
	display: block;
	fill: #000;
}